### Label Encoding - Ordinal Encoding

âœ… Label Encoding is generally used for Target Variables or Binary Features.

In [24]:
import pandas as pd

In [25]:
df0 = pd.read_csv("../../C_Datasets/titanic_train_original.csv")
df  = df0[['Sex', 'Embarked', 'Survived']]
df.head()

      Sex Embarked  Survived
0    male        S         0
1  female        C         1
2  female        S         1
3  female        S         1
4    male        S         0

In [19]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

### Implementing Label Encoding to 'Sex' column

In [20]:
df.loc[:, 'Sex'] = le.fit_transform(df['Sex'])

In [21]:
df.head()

  Sex Embarked  Survived
0   1        S         0
1   0        C         1
2   0        S         1
3   0        S         1
4   1        S         0

### Implementing Label Encoding to 'Embarked' column
    
**Not**: _OneHotEncoding_ or _Dummy Encoding_ methods are may be more proper for 'Embarked' column. Because this column don't have any ordinal degree. (I'll use to only for implementation instance of Label Encoding methods.)

In [22]:
df.loc[:, 'Embarked'] = le.fit_transform(df['Embarked'])

In [23]:
df.head()

  Sex Embarked  Survived
0   1        2         0
1   0        0         1
2   0        2         1
3   0        2         1
4   1        2         0