# **df.query()**

## **Import library and data set**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Machine_Learning_Algorithms/C_Datasets/Co2_Emission.csv').iloc[:, [1, 2, 3, 4, 5, 6, 7, 8, -1]]
df.head()

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244

In [3]:
df['FUELTYPE'].unique()

array(['Z', 'D', 'X', 'E'], dtype=object)

## **Filtering Rows Based on a Single Condition**

Let's filter the DataFrame to get rows where the engine size is greater than 8:

In [4]:
df.query('ENGINESIZE > 8')

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
940,SRT,VIPER COUPE,TWO-SEATER,8.4,10,M6,Z,20.0,389
941,SRT,VIPER GTS COUPE,TWO-SEATER,8.4,10,M6,Z,20.0,389

Let's filter the DataFrame to get rows where the Co2Emission is less than 120:

In [5]:
df.query('CO2EMISSIONS < 120')

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
487,HONDA,ACCORD HYBRID,MID-SIZE,2.0,4,AV,X,4.7,110
987,TOYOTA,PRIUS,MID-SIZE,1.8,4,AV,X,4.7,110
988,TOYOTA,PRIUS c,COMPACT,1.5,4,AV,X,4.6,108

Let's filter the DataFrame to get rows where the cylinders is equal 12:

In [6]:
df.query('CYLINDERS == 12')

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
12,ASTON MARTIN,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,359
13,ASTON MARTIN,RAPIDE,SUBCOMPACT,5.9,12,A6,Z,18.0,359
18,ASTON MARTIN,VANQUISH,MINICOMPACT,5.9,12,A6,Z,18.0,359
35,AUDI,A8L,FULL-SIZE,6.3,12,AS8,Z,18.2,361
69,BENTLEY,CONTINENTAL GT,SUBCOMPACT,6.0,12,AS8,Z,18.8,356
71,BENTLEY,CONTINENTAL GT SPEED CONVERTIBLE,SUBCOMPACT,6.0,12,AS8,Z,20.0,380
73,BENTLEY,CONTINENTAL GTC,SUBCOMPACT,6.0,12,AS8,Z,20.0,380
74,BENTLEY,FLYING SPUR,MID-SIZE,6.0,12,AS8,Z,20.0,380
112,BMW,760Li,FULL-SIZE,6.0,12,A8,Z,18.7,356
633,LAMBORGHINI,AVENTADOR COUPE,TWO-SEATER,6.5,12,A7,Z,22.8,421
922,ROLLS-ROYCE,GHOST,FULL-SIZE,6.6,12,A8,Z,19.1,368
923,ROLLS-ROYCE,GHOST EWB,FULL-SIZE,6.6,12,A8,Z,19.1,368
924,ROLLS-ROYCE,PHANTOM,FULL-SIZE,6.7,12,A8,Z,20.7,393
925,ROLLS-ROYCE,PHANTOM COUPE,COMPACT,6.7,12,A8,Z,20.7,393
926,ROLLS-ROYCE,PHANTOM DROPHEAD COUPE,COMPACT,6.7,12,A8,Z,20.7,393
927,ROLLS-ROYCE,PHANTOM EWB,FULL-SIZE,6.7,12,A8,Z,20.7,393
928,ROLLS-ROYCE,WRAITH,MID-SIZE,6.6,12,A8,Z,18.7,359

Get the rows where MAKE is Aston Martin.

In [7]:
df.query("MAKE == 'ASTON MARTIN'")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
12,ASTON MARTIN,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,359
13,ASTON MARTIN,RAPIDE,SUBCOMPACT,5.9,12,A6,Z,18.0,359
14,ASTON MARTIN,V8 VANTAGE,TWO-SEATER,4.7,8,AM7,Z,17.4,338
15,ASTON MARTIN,V8 VANTAGE,TWO-SEATER,4.7,8,M6,Z,18.1,354
16,ASTON MARTIN,V8 VANTAGE S,TWO-SEATER,4.7,8,AM7,Z,17.4,338
17,ASTON MARTIN,V8 VANTAGE S,TWO-SEATER,4.7,8,M6,Z,18.1,354
18,ASTON MARTIN,VANQUISH,MINICOMPACT,5.9,12,A6,Z,18.0,359

Get the rows where vehicle class are MINICOMPACT and SUBCOMPACT

In [8]:
df.query("VEHICLECLASS in ('MINICOMPACT', 'SUBCOMPACT')")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
12,ASTON MARTIN,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,359
13,ASTON MARTIN,RAPIDE,SUBCOMPACT,5.9,12,A6,Z,18.0,359
18,ASTON MARTIN,VANQUISH,MINICOMPACT,5.9,12,A6,Z,18.0,359
22,AUDI,A5 CABRIOLET QUATTRO,SUBCOMPACT,2.0,4,AS8,Z,11.5,230
23,AUDI,A5 QUATTRO,SUBCOMPACT,2.0,4,AS8,Z,11.5,230
...,...,...,...,...,...,...,...,...,...
1020,VOLKSWAGEN,BEETLE CONVERTIBLE,SUBCOMPACT,1.8,4,A6,X,9.8,200
1021,VOLKSWAGEN,BEETLE CONVERTIBLE,SUBCOMPACT,2.0,4,A6,Z,10.3,214
1022,VOLKSWAGEN,BEETLE CONVERTIBLE,SUBCOMPACT,2.0,4,M6,Z,10.8,216
1023,VOLKSWAGEN,BEETLE CONVERTIBLE,SUBCOMPACT,2.5,5,A6,X,11.2,232
1029,VOLKSWAGEN,EOS,SUBCOMPACT,2.0,4,A6,Z,10.9,221

## **Filtering Rows Based on Multiple Condition**

Let's filter the DataFrame to get rows where the engine size is greater than 4 and Co2Emission is less than 250:

In [9]:
df.query('ENGINESIZE > 4 and CO2EMISSIONS < 250')

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
776,MERCEDES-BENZ,SLK 55 AMG,TWO-SEATER,5.5,8,AS7,Z,12.3,246

Let's filter the DataFrame to get rows where the cylinders is equal 6 and is Co2Emission is greater than 320:

In [10]:
df.query('CYLINDERS == 6 and CO2EMISSIONS > 320')

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
210,CHEVROLET,EXPRESS 1500 CARGO,VAN - CARGO,4.3,6,A4,X,17.1,347
434,GMC,SAVANA 1500 CARGO,VAN - CARGO,4.3,6,A4,X,17.1,347
637,LAND ROVER,LR4,SUV - STANDARD,3.0,6,AS8,Z,16.3,334
756,MERCEDES-BENZ,GL 350 BLUETEC 4MATIC,SUV - STANDARD,3.0,6,AS7,D,13.4,324
863,NISSAN,XTERRA 4WD,SUV - SMALL,4.0,6,A5,X,16.1,327
881,PORSCHE,911 GT3,TWO-SEATER,3.8,6,AM7,Z,16.0,322
1002,TOYOTA,TACOMA 4WD,PICKUP TRUCK - SMALL,4.0,6,M6,X,15.3,322

Get the rows where MAKE is Bentley and cylinders is greater than and equal 8.

In [11]:
df.query("MAKE == 'BENTLEY' and CYLINDERS >= 8")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
68,BENTLEY,CONTINENTAL GT,SUBCOMPACT,4.0,8,AS8,Z,15.4,297
69,BENTLEY,CONTINENTAL GT,SUBCOMPACT,6.0,12,AS8,Z,18.8,356
70,BENTLEY,CONTINENTAL GT CONVERTIBLE,SUBCOMPACT,4.0,8,AS8,Z,16.8,320
71,BENTLEY,CONTINENTAL GT SPEED CONVERTIBLE,SUBCOMPACT,6.0,12,AS8,Z,20.0,380
72,BENTLEY,CONTINENTAL GTC,SUBCOMPACT,4.0,8,AS8,Z,16.7,322
73,BENTLEY,CONTINENTAL GTC,SUBCOMPACT,6.0,12,AS8,Z,20.0,380
74,BENTLEY,FLYING SPUR,MID-SIZE,6.0,12,AS8,Z,20.0,380
75,BENTLEY,MULSANNE,MID-SIZE,6.8,8,AS8,Z,22.3,437

## **Handling Special Characters in Column Names**

If your column names contain `spaces` or `special characters`, you need to use backticks(`) around the column names.

In [12]:
# convert FUELTYPE to FUEL TYPE
df.rename(columns={'FUELTYPE': 'FUEL TYPE'}, inplace=True)

In [13]:
df.head(2)

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,221

Get the rows where fuel type is X.

In [14]:
df.query("`FUEL TYPE` == 'X'")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
140,BUICK,ENCLAVE,SUV - STANDARD,3.6,6,A6,X,14.3,283
141,BUICK,ENCLAVE AWD,SUV - STANDARD,3.6,6,A6,X,14.6,290
142,BUICK,ENCORE,SUV - SMALL,1.4,4,AS6,X,9.5,196
143,BUICK,ENCORE AWD,SUV - SMALL,1.4,4,AS6,X,10.2,212
144,BUICK,LACROSSE,MID-SIZE,3.6,6,AS6,X,13.7,264
...,...,...,...,...,...,...,...,...,...
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

Get the rows where fuel types are X and Y.

In [15]:
df.query("`FUEL TYPE` in ('X', 'Y')")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
140,BUICK,ENCLAVE,SUV - STANDARD,3.6,6,A6,X,14.3,283
141,BUICK,ENCLAVE AWD,SUV - STANDARD,3.6,6,A6,X,14.6,290
142,BUICK,ENCORE,SUV - SMALL,1.4,4,AS6,X,9.5,196
143,BUICK,ENCORE AWD,SUV - SMALL,1.4,4,AS6,X,10.2,212
144,BUICK,LACROSSE,MID-SIZE,3.6,6,AS6,X,13.7,264
...,...,...,...,...,...,...,...,...,...
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

Get the rows where fuel types are X and Y, and MAKE is volvo:

In [16]:
df.query("`FUEL TYPE` in ('X', 'Y') and MAKE == 'VOLVO'")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
1056,VOLVO,S60,COMPACT,2.5,5,AS6,X,11.3,223
1057,VOLVO,S60 AWD,COMPACT,2.5,5,AS6,X,11.6,232
1058,VOLVO,S60 AWD,COMPACT,3.0,6,AS6,X,13.2,264
1059,VOLVO,S80,MID-SIZE,3.2,6,AS6,X,11.9,235
1060,VOLVO,S80 AWD,MID-SIZE,3.0,6,AS6,X,13.2,264
1061,VOLVO,XC60,SUV - SMALL,3.2,6,AS6,X,13.0,258
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

## **Using Variables in the Query**

Get the rows where Co2 Emission is greater than average Co2 Emission:

In [17]:
avg_emission = df['CO2EMISSIONS'].mean()

print('Average Co2 Emission is {}.\n'.format(round(avg_emission)))

df.query('CO2EMISSIONS > @avg_emission')

Average Co2 Emission is 256.

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
8,ACURA,TL AWD,MID-SIZE,3.7,6,M6,Z,13.4,267
12,ASTON MARTIN,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,359
13,ASTON MARTIN,RAPIDE,SUBCOMPACT,5.9,12,A6,Z,18.0,359
14,ASTON MARTIN,V8 VANTAGE,TWO-SEATER,4.7,8,AM7,Z,17.4,338
15,ASTON MARTIN,V8 VANTAGE,TWO-SEATER,4.7,8,M6,Z,18.1,354
...,...,...,...,...,...,...,...,...,...
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

Get the rows where make is volvo and engine size is max.

In [18]:
max_engine_size_volvo = df.query("MAKE == 'VOLVO'")['ENGINESIZE'].max()

df.query("MAKE == 'VOLVO' and ENGINESIZE == @max_engine_size_volvo")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
1059,VOLVO,S80,MID-SIZE,3.2,6,AS6,X,11.9,235
1061,VOLVO,XC60,SUV - SMALL,3.2,6,AS6,X,13.0,258
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

## **More Complex Queries**

You can use methods and complex expressions within the `.query()` function.

In [19]:
df.query("MAKE.str.startswith('V')")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
1014,VOLKSWAGEN,BEETLE,COMPACT,1.8,4,A6,X,9.5,196
1015,VOLKSWAGEN,BEETLE,COMPACT,1.8,4,M5,X,9.9,200
1016,VOLKSWAGEN,BEETLE,COMPACT,2.0,4,A6,Z,10.3,209
1017,VOLKSWAGEN,BEETLE,COMPACT,2.0,4,M6,Z,10.8,216
1018,VOLKSWAGEN,BEETLE,COMPACT,2.5,5,A6,X,10.9,225
1019,VOLKSWAGEN,BEETLE,COMPACT,2.5,5,M5,X,11.2,221
1020,VOLKSWAGEN,BEETLE CONVERTIBLE,SUBCOMPACT,1.8,4,A6,X,9.8,200
1021,VOLKSWAGEN,BEETLE CONVERTIBLE,SUBCOMPACT,2.0,4,A6,Z,10.3,214
1022,VOLKSWAGEN,BEETLE CONVERTIBLE,SUBCOMPACT,2.0,4,M6,Z,10.8,216
1023,VOLKSWAGEN,BEETLE CONVERTIBLE,SUBCOMPACT,2.5,5,A6,X,11.2,232
1024,VOLKSWAGEN,BEETLE TDI CLEAN DIESEL,COMPACT,2.0,4,A6,D,8.2,197
1025,VOLKSWAGEN,BEETLE TDI CLEAN DIESEL,COMPACT,2.0,4,M6,D,8.5,197
1026,VOLKSWAGEN,CC,COMPACT,2.0,4,A6,Z,11.1,223
1027,VOLKSWAGEN,CC,COMPACT,2.0,4,M6,Z,11.6,225
1028,VOLKSWAGEN,CC 4MOTION,COMPACT,3.6,6,A6,Z,14.3,283
1029,VOLKSWAGEN,EOS,SUBCOMPACT,2.0,4,A6,Z,10.9,221
1030,VOLKSWAGEN,GOLF WAGON,STATION WAGON - SMALL,2.5,5,A6,X,11.0,218
1031,VOLKSWAGEN,GOLF WAGON,STATION WAGON - SMALL,2.5,5,M5,X,11.2,216
1032,VOLKSWAGEN,GOLF WAGON TDI CLEAN DIESEL,STATION WAGON - SMALL,2.0,4,A6,D,8.2,194
1033,VOLKSWAGEN,GOLF WAGON TDI CLEAN DIESEL,STATION WAGON - SMALL,2.0,4,M6,D,7.9,186
1034,VOLKSWAGEN,JETTA,COMPACT,1.8,4,A6,X,9.5,189
1035,VOLKSWAGEN,JETTA,COMPACT,1.8,4,M5,X,9.4,189
1036,VOLKSWAGEN,JETTA,COMPACT,2.0,4,A6,X,10.6,216
1037,VOLKSWAGEN,JETTA,COMPACT,2.0,4,M5,X,10.4,207
1038,VOLKSWAGEN,JETTA GLI,COMPACT,2.0,4,A6,Z,10.2,207
1039,VOLKSWAGEN,JETTA GLI,COMPACT,2.0,4,M6,Z,10.6,212
1040,VOLKSWAGEN,JETTA TDI CLEAN DIESEL,COMPACT,2.0,4,A6,D,7.9,186
1041,VOLKSWAGEN,JETTA TDI CLEAN DIESEL,COMPACT,2.0,4,M6,D,7.9,186
1042,VOLKSWAGEN,JETTA TURBO HYBRID,COMPACT,1.4,4,AM7,Z,5.6,124
1043,VOLKSWAGEN,PASSAT,MID-SIZE,1.8,4,A6,X,9.9,198
1044,VOLKSWAGEN,PASSAT,MID-SIZE,1.8,4,M5,X,10.0,198
1045,VOLKSWAGEN,PASSAT,MID-SIZE,2.5,5,A6,X,11.0,223
1046,VOLKSWAGEN,PASSAT,MID-SIZE,2.5,5,M5,X,11.4,225
1047,VOLKSWAGEN,PASSAT,MID-SIZE,3.6,6,A6,Z,12.4,248
1048,VOLKSWAGEN,PASSAT TDI CLEAN DIESEL,MID-SIZE,2.0,4,A6,D,8.1,192
1049,VOLKSWAGEN,PASSAT TDI CLEAN DIESEL,MID-SIZE,2.0,4,M6,D,8.0,184
1050,VOLKSWAGEN,ROUTAN,MINIVAN,3.6,6,A6,X,14.2,278
1051,VOLKSWAGEN,TIGUAN,SUV - SMALL,2.0,4,A6,Z,11.7,246
1052,VOLKSWAGEN,TIGUAN,SUV - SMALL,2.0,4,M6,Z,13.6,267
1053,VOLKSWAGEN,TIGUAN 4MOTION,SUV - SMALL,2.0,4,A6,Z,11.7,246
1054,VOLKSWAGEN,TOUAREG,SUV - STANDARD,3.6,6,AS8,Z,13.8,281
1055,VOLKSWAGEN,TOUAREG TDI CLEAN DIESEL,SUV - STANDARD,3.0,6,AS8,D,12.3,281
1056,VOLVO,S60,COMPACT,2.5,5,AS6,X,11.3,223
1057,VOLVO,S60 AWD,COMPACT,2.5,5,AS6,X,11.6,232
1058,VOLVO,S60 AWD,COMPACT,3.0,6,AS6,X,13.2,264
1059,VOLVO,S80,MID-SIZE,3.2,6,AS6,X,11.9,235
1060,VOLVO,S80 AWD,MID-SIZE,3.0,6,AS6,X,13.2,264
1061,VOLVO,XC60,SUV - SMALL,3.2,6,AS6,X,13.0,258
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [20]:
df.query("MAKE.str.startswith('V') and MODEL.str.startswith('S')")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
1056,VOLVO,S60,COMPACT,2.5,5,AS6,X,11.3,223
1057,VOLVO,S60 AWD,COMPACT,2.5,5,AS6,X,11.6,232
1058,VOLVO,S60 AWD,COMPACT,3.0,6,AS6,X,13.2,264
1059,VOLVO,S80,MID-SIZE,3.2,6,AS6,X,11.9,235
1060,VOLVO,S80 AWD,MID-SIZE,3.0,6,AS6,X,13.2,264

In [21]:
df.query("VEHICLECLASS.str.contains('SUV')")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244
38,AUDI,Q5,SUV - SMALL,2.0,4,AS8,Z,12.0,239
39,AUDI,Q5,SUV - SMALL,3.0,6,AS8,Z,12.9,258
40,AUDI,Q5 HYBRID,SUV - SMALL,2.0,4,AS8,Z,9.9,212
...,...,...,...,...,...,...,...,...,...
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [22]:
df.query("VEHICLECLASS.str.lower().str.contains('suv')")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244
38,AUDI,Q5,SUV - SMALL,2.0,4,AS8,Z,12.0,239
39,AUDI,Q5,SUV - SMALL,3.0,6,AS8,Z,12.9,258
40,AUDI,Q5 HYBRID,SUV - SMALL,2.0,4,AS8,Z,9.9,212
...,...,...,...,...,...,...,...,...,...
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [23]:
df.query('MODEL.notna()') # notnull()

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244
...,...,...,...,...,...,...,...,...,...
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [24]:
df.query('MODEL.isna()') # or --> isnull()

Empty DataFrame
Columns: [MAKE, MODEL, VEHICLECLASS, ENGINESIZE, CYLINDERS, TRANSMISSION, FUEL TYPE, FUELCONSUMPTION_CITY, CO2EMISSIONS]
Index: []

In [25]:
df.query('3 <= CYLINDERS <= 8')

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244
...,...,...,...,...,...,...,...,...,...
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [26]:
df.query("`FUEL TYPE` == ('X', 'Y')")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
140,BUICK,ENCLAVE,SUV - STANDARD,3.6,6,A6,X,14.3,283
141,BUICK,ENCLAVE AWD,SUV - STANDARD,3.6,6,A6,X,14.6,290
142,BUICK,ENCORE,SUV - SMALL,1.4,4,AS6,X,9.5,196
143,BUICK,ENCORE AWD,SUV - SMALL,1.4,4,AS6,X,10.2,212
144,BUICK,LACROSSE,MID-SIZE,3.6,6,AS6,X,13.7,264
...,...,...,...,...,...,...,...,...,...
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [27]:
df.query("ENGINESIZE.astype('str').str.startswith('3')")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244
5,ACURA,RLX,MID-SIZE,3.5,6,AS6,Z,11.9,230
6,ACURA,TL,MID-SIZE,3.5,6,AS6,Z,11.8,232
7,ACURA,TL AWD,MID-SIZE,3.7,6,AS6,Z,12.8,255
...,...,...,...,...,...,...,...,...,...
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [28]:
df.query("VEHICLECLASS.str.endswith('E', na=False)") # if there is null values, you can use parameter of 'na=False'

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
5,ACURA,RLX,MID-SIZE,3.5,6,AS6,Z,11.9,230
6,ACURA,TL,MID-SIZE,3.5,6,AS6,Z,11.8,232
7,ACURA,TL AWD,MID-SIZE,3.7,6,AS6,Z,12.8,255
8,ACURA,TL AWD,MID-SIZE,3.7,6,M6,Z,13.4,267
25,AUDI,A6 QUATTRO,MID-SIZE,2.0,4,AS8,Z,12.0,235
...,...,...,...,...,...,...,...,...,...
1047,VOLKSWAGEN,PASSAT,MID-SIZE,3.6,6,A6,Z,12.4,248
1048,VOLKSWAGEN,PASSAT TDI CLEAN DIESEL,MID-SIZE,2.0,4,A6,D,8.1,192
1049,VOLKSWAGEN,PASSAT TDI CLEAN DIESEL,MID-SIZE,2.0,4,M6,D,8.0,184
1059,VOLVO,S80,MID-SIZE,3.2,6,AS6,X,11.9,235
1060,VOLVO,S80 AWD,MID-SIZE,3.0,6,AS6,X,13.2,264

In [29]:
df.query('index % 2 == 0')

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,196
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,136
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244
6,ACURA,TL,MID-SIZE,3.5,6,AS6,Z,11.8,232
8,ACURA,TL AWD,MID-SIZE,3.7,6,M6,Z,13.4,267
...,...,...,...,...,...,...,...,...,...
1058,VOLVO,S60 AWD,COMPACT,3.0,6,AS6,X,13.2,264
1060,VOLVO,S80 AWD,MID-SIZE,3.0,6,AS6,X,13.2,264
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [30]:
df.query("not MAKE == 'VOLVO'")

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL TYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244
...,...,...,...,...,...,...,...,...,...
1051,VOLKSWAGEN,TIGUAN,SUV - SMALL,2.0,4,A6,Z,11.7,246
1052,VOLKSWAGEN,TIGUAN,SUV - SMALL,2.0,4,M6,Z,13.6,267
1053,VOLKSWAGEN,TIGUAN 4MOTION,SUV - SMALL,2.0,4,A6,Z,11.7,246
1054,VOLKSWAGEN,TOUAREG,SUV - STANDARD,3.6,6,AS8,Z,13.8,281
1055,VOLKSWAGEN,TOUAREG TDI CLEAN DIESEL,SUV - STANDARD,3.0,6,AS8,D,12.3,281

# **df.filter()**

In pandas, use the filter() method to select rows or columns in the DataFrame based on their labels (names). This method is provided for both DataFrame and Series.

## **Creating a Data Frame**

In [31]:
df = pd.DataFrame([[0, 1, 2], [3, 4, 5], [6, 7, 8]],
                  index=['apple', 'banana', 'pineapple'],
                  columns=['A', 'B', 'C'])

In [32]:
df

           A  B  C
apple      0  1  2
banana     3  4  5
pineapple  6  7  8

## **Basic Usage**

In [33]:
df.filter(items=['A', 'C'])

           A  C
apple      0  2
banana     3  5
pineapple  6  8

In [34]:
df.filter(items=['A', 'C'], axis=None)   # default value of axis parameter is 'None'

           A  C
apple      0  2
banana     3  5
pineapple  6  8

In [35]:
df.filter(items=['A', 'C'], axis=1)   # axis=1 and axis=None are equal each other

           A  C
apple      0  2
banana     3  5
pineapple  6  8

In [36]:
df.filter(items=['A', 'C'], axis='columns')   # axis=1 and axis='columns' are equal each other

           A  C
apple      0  2
banana     3  5
pineapple  6  8

In [37]:
df.filter(items=['apple', 'banana'], axis=0)   # axis=1 filters based on rows.

        A  B  C
apple   0  1  2
banana  3  4  5

In [38]:
df.filter(items=['apple', 'banana'], axis='index')   # axis=0 and axis='index' are equal each other

        A  B  C
apple   0  1  2
banana  3  4  5

In [39]:
# to filter columns and rows together, we must repeat the filter() function.

df.filter(items=['A', 'C']).filter(items=['pineapple'], axis=0)

           A  C
pineapple  6  8

## **the 'like' parameter**

In [40]:
df = pd.DataFrame([[0, 1, 2], [3, 4, 5], [6, 7, 8]],
                  index=['apple', 'banana', 'pineapple'],
                  columns=['col X', 'col Y', 'col Z'])

In [41]:
df

           col X  col Y  col Z
apple          0      1      2
banana         3      4      5
pineapple      6      7      8

In [42]:
df.filter(like='Y')

           col Y
apple          1
banana         4
pineapple      7

In [43]:
df.filter(like='apple', axis=0)

           col X  col Y  col Z
apple          0      1      2
pineapple      6      7      8

In [44]:
# combine axis 0 and axis 1

df.filter(like='Y').filter(like='apple', axis=0)

           col Y
apple          1
pineapple      7

## **the 'regex' parameter**

In [45]:
df =pd.read_csv('../../Machine_Learning_Algorithms/C_Datasets/Co2_Emission.csv').iloc[:, [1, 2, 3, 4, 5, 6, 7, 8, -1]].set_index('MAKE')

In [46]:
df.head()

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,196
ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,221
ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,136
ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244

In [47]:
df.index.unique()

Index(['ACURA', 'ASTON MARTIN', 'AUDI', 'BENTLEY', 'BMW', 'BUICK', 'CADILLAC',
       'CHEVROLET', 'CHRYSLER', 'DODGE', 'FIAT', 'FORD', 'GMC', 'HONDA',
       'HYUNDAI', 'INFINITI', 'JAGUAR', 'JEEP', 'KIA', 'LAMBORGHINI',
       'LAND ROVER', 'LEXUS', 'LINCOLN', 'MASERATI', 'MAZDA', 'MERCEDES-BENZ',
       'MINI', 'MITSUBISHI', 'NISSAN', 'PORSCHE', 'RAM', 'ROLLS-ROYCE',
       'SCION', 'SMART', 'SRT', 'SUBARU', 'TOYOTA', 'VOLKSWAGEN', 'VOLVO'],
      dtype='object', name='MAKE')

In [48]:
#  Matching the contain of the string

In [49]:
df.filter(regex='LAMBO', axis=0)

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
LAMBORGHINI,AVENTADOR COUPE,TWO-SEATER,6.5,12,A7,Z,22.8,421
LAMBORGHINI,GALLARDO COUPE,TWO-SEATER,5.2,10,A6,Z,18.0,361
LAMBORGHINI,GALLARDO COUPE,TWO-SEATER,5.2,10,M6,Z,20.6,400

In [50]:
df.filter(regex='VOL', axis=0)

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
VOLKSWAGEN,BEETLE,COMPACT,1.8,4,A6,X,9.5,196
VOLKSWAGEN,BEETLE,COMPACT,1.8,4,M5,X,9.9,200
VOLKSWAGEN,BEETLE,COMPACT,2.0,4,A6,Z,10.3,209
VOLKSWAGEN,BEETLE,COMPACT,2.0,4,M6,Z,10.8,216
VOLKSWAGEN,BEETLE,COMPACT,2.5,5,A6,X,10.9,225
VOLKSWAGEN,BEETLE,COMPACT,2.5,5,M5,X,11.2,221
VOLKSWAGEN,BEETLE CONVERTIBLE,SUBCOMPACT,1.8,4,A6,X,9.8,200
VOLKSWAGEN,BEETLE CONVERTIBLE,SUBCOMPACT,2.0,4,A6,Z,10.3,214
VOLKSWAGEN,BEETLE CONVERTIBLE,SUBCOMPACT,2.0,4,M6,Z,10.8,216
VOLKSWAGEN,BEETLE CONVERTIBLE,SUBCOMPACT,2.5,5,A6,X,11.2,232
VOLKSWAGEN,BEETLE TDI CLEAN DIESEL,COMPACT,2.0,4,A6,D,8.2,197
VOLKSWAGEN,BEETLE TDI CLEAN DIESEL,COMPACT,2.0,4,M6,D,8.5,197
VOLKSWAGEN,CC,COMPACT,2.0,4,A6,Z,11.1,223
VOLKSWAGEN,CC,COMPACT,2.0,4,M6,Z,11.6,225
VOLKSWAGEN,CC 4MOTION,COMPACT,3.6,6,A6,Z,14.3,283
VOLKSWAGEN,EOS,SUBCOMPACT,2.0,4,A6,Z,10.9,221
VOLKSWAGEN,GOLF WAGON,STATION WAGON - SMALL,2.5,5,A6,X,11.0,218
VOLKSWAGEN,GOLF WAGON,STATION WAGON - SMALL,2.5,5,M5,X,11.2,216
VOLKSWAGEN,GOLF WAGON TDI CLEAN DIESEL,STATION WAGON - SMALL,2.0,4,A6,D,8.2,194
VOLKSWAGEN,GOLF WAGON TDI CLEAN DIESEL,STATION WAGON - SMALL,2.0,4,M6,D,7.9,186
VOLKSWAGEN,JETTA,COMPACT,1.8,4,A6,X,9.5,189
VOLKSWAGEN,JETTA,COMPACT,1.8,4,M5,X,9.4,189
VOLKSWAGEN,JETTA,COMPACT,2.0,4,A6,X,10.6,216
VOLKSWAGEN,JETTA,COMPACT,2.0,4,M5,X,10.4,207
VOLKSWAGEN,JETTA GLI,COMPACT,2.0,4,A6,Z,10.2,207
VOLKSWAGEN,JETTA GLI,COMPACT,2.0,4,M6,Z,10.6,212
VOLKSWAGEN,JETTA TDI CLEAN DIESEL,COMPACT,2.0,4,A6,D,7.9,186
VOLKSWAGEN,JETTA TDI CLEAN DIESEL,COMPACT,2.0,4,M6,D,7.9,186
VOLKSWAGEN,JETTA TURBO HYBRID,COMPACT,1.4,4,AM7,Z,5.6,124
VOLKSWAGEN,PASSAT,MID-SIZE,1.8,4,A6,X,9.9,198
VOLKSWAGEN,PASSAT,MID-SIZE,1.8,4,M5,X,10.0,198
VOLKSWAGEN,PASSAT,MID-SIZE,2.5,5,A6,X,11.0,223
VOLKSWAGEN,PASSAT,MID-SIZE,2.5,5,M5,X,11.4,225
VOLKSWAGEN,PASSAT,MID-SIZE,3.6,6,A6,Z,12.4,248
VOLKSWAGEN,PASSAT TDI CLEAN DIESEL,MID-SIZE,2.0,4,A6,D,8.1,192
VOLKSWAGEN,PASSAT TDI CLEAN DIESEL,MID-SIZE,2.0,4,M6,D,8.0,184
VOLKSWAGEN,ROUTAN,MINIVAN,3.6,6,A6,X,14.2,278
VOLKSWAGEN,TIGUAN,SUV - SMALL,2.0,4,A6,Z,11.7,246
VOLKSWAGEN,TIGUAN,SUV - SMALL,2.0,4,M6,Z,13.6,267
VOLKSWAGEN,TIGUAN 4MOTION,SUV - SMALL,2.0,4,A6,Z,11.7,246
VOLKSWAGEN,TOUAREG,SUV - STANDARD,3.6,6,AS8,Z,13.8,281
VOLKSWAGEN,TOUAREG TDI CLEAN DIESEL,SUV - STANDARD,3.0,6,AS8,D,12.3,281
VOLVO,S60,COMPACT,2.5,5,AS6,X,11.3,223
VOLVO,S60 AWD,COMPACT,2.5,5,AS6,X,11.6,232
VOLVO,S60 AWD,COMPACT,3.0,6,AS6,X,13.2,264
VOLVO,S80,MID-SIZE,3.2,6,AS6,X,11.9,235
VOLVO,S80 AWD,MID-SIZE,3.0,6,AS6,X,13.2,264
VOLVO,XC60,SUV - SMALL,3.2,6,AS6,X,13.0,258
VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [51]:
#  Matching the start of the string

In [52]:
df.filter(regex='^AS', axis=0)

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
ASTON MARTIN,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,359
ASTON MARTIN,RAPIDE,SUBCOMPACT,5.9,12,A6,Z,18.0,359
ASTON MARTIN,V8 VANTAGE,TWO-SEATER,4.7,8,AM7,Z,17.4,338
ASTON MARTIN,V8 VANTAGE,TWO-SEATER,4.7,8,M6,Z,18.1,354
ASTON MARTIN,V8 VANTAGE S,TWO-SEATER,4.7,8,AM7,Z,17.4,338
ASTON MARTIN,V8 VANTAGE S,TWO-SEATER,4.7,8,M6,Z,18.1,354
ASTON MARTIN,VANQUISH,MINICOMPACT,5.9,12,A6,Z,18.0,359

In [53]:
df.filter(regex='^CYL', axis=1)

       CYLINDERS
MAKE
ACURA          4
ACURA          4
ACURA          4
ACURA          6
ACURA          6
...          ...
VOLVO          6
VOLVO          6
VOLVO          6
VOLVO          6
VOLVO          6

[1067 rows x 1 columns]

In [54]:
# Matching the end of the string

In [55]:
df.filter(regex='EP$', axis=0)

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
JEEP,CHEROKEE,SUV - SMALL,2.4,4,A9,X,10.9,218
JEEP,CHEROKEE,SUV - SMALL,3.2,6,A9,X,12.3,242
JEEP,CHEROKEE 4X4,SUV - SMALL,2.4,4,A9,X,11.3,230
JEEP,CHEROKEE 4X4,SUV - SMALL,3.2,6,A9,X,12.5,248
JEEP,CHEROKEE 4X4 Active Drive II,SUV - SMALL,2.4,4,A9,X,11.4,232
JEEP,CHEROKEE 4X4 Active Drive II,SUV - SMALL,3.2,6,A9,X,12.5,253
JEEP,CHEROKEE TRAILHAWK 4X4,SUV - SMALL,2.4,4,A9,X,12.1,251
JEEP,CHEROKEE TRAILHAWK 4X4,SUV - SMALL,3.2,6,A9,X,13.4,267
JEEP,COMPASS,SUV - SMALL,2.0,4,A6,X,11.1,225
JEEP,COMPASS,SUV - SMALL,2.0,4,M5,X,10.2,209
JEEP,COMPASS,SUV - SMALL,2.4,4,A6,X,11.1,225
JEEP,COMPASS,SUV - SMALL,2.4,4,M5,X,10.3,216
JEEP,COMPASS 4X4,SUV - SMALL,2.4,4,A6,X,11.4,235
JEEP,COMPASS 4X4,SUV - SMALL,2.4,4,M5,X,10.3,216
JEEP,COMPASS 4X4 TRAIL RATED,SUV - SMALL,2.4,4,AV,X,11.7,255
JEEP,GRAND CHEROKEE 4X4 (MDS),SUV - STANDARD,5.7,8,A8,X,17.3,340
JEEP,GRAND CHEROKEE 4X4 DIESEL,SUV - STANDARD,3.0,6,A8,D,11.2,267
JEEP,GRAND CHEROKEE 4X4 FFV,SUV - STANDARD,3.6,6,A8,X,13.9,278
JEEP,GRAND CHEROKEE 4X4 FFV,SUV - STANDARD,3.6,6,A8,E,17.7,250
JEEP,GRAND CHEROKEE 4X4 SRT (MDS),SUV - STANDARD,6.4,8,A8,Z,18.5,363
JEEP,PATRIOT,SUV - SMALL,2.0,4,A6,X,11.1,225
JEEP,PATRIOT,SUV - SMALL,2.0,4,M5,X,10.2,209
JEEP,PATRIOT,SUV - SMALL,2.4,4,A6,X,11.1,225
JEEP,PATRIOT,SUV - SMALL,2.4,4,M5,X,10.3,216
JEEP,PATRIOT 4X4,SUV - SMALL,2.4,4,A6,X,11.4,235
JEEP,PATRIOT 4X4,SUV - SMALL,2.4,4,M5,X,10.3,216
JEEP,PATRIOT 4X4 TRAIL RATED,SUV - SMALL,2.4,4,AV,X,11.7,255
JEEP,WRANGLER 4X4 (2-DOOR),SUV - SMALL,3.6,6,A5,X,14.1,294
JEEP,WRANGLER 4X4 (2-DOOR),SUV - SMALL,3.6,6,M6,X,14.2,294
JEEP,WRANGLER UNLIMITED 4X4 (4-DOOR),SUV - SMALL,3.6,6,A5,X,14.8,308
JEEP,WRANGLER UNLIMITED 4X4 (4-DOOR),SUV - SMALL,3.6,6,M6,X,15.0,308

In [56]:
df.filter(regex='CITY$', axis=1)

       FUELCONSUMPTION_CITY
MAKE
ACURA                   9.9
ACURA                  11.2
ACURA                   6.0
ACURA                  12.7
ACURA                  12.1
...                     ...
VOLVO                  13.4
VOLVO                  13.2
VOLVO                  13.4
VOLVO                  12.9
VOLVO                  14.9

[1067 rows x 1 columns]

In [57]:
# Matching with more than one key words

In [58]:
df.filter(regex='ASTON|BENZ', axis=0)

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
ASTON MARTIN,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,359
ASTON MARTIN,RAPIDE,SUBCOMPACT,5.9,12,A6,Z,18.0,359
ASTON MARTIN,V8 VANTAGE,TWO-SEATER,4.7,8,AM7,Z,17.4,338
ASTON MARTIN,V8 VANTAGE,TWO-SEATER,4.7,8,M6,Z,18.1,354
ASTON MARTIN,V8 VANTAGE S,TWO-SEATER,4.7,8,AM7,Z,17.4,338
...,...,...,...,...,...,...,...,...
MERCEDES-BENZ,SLK 350,TWO-SEATER,3.5,6,AS7,Z,11.1,225
MERCEDES-BENZ,SLK 55 AMG,TWO-SEATER,5.5,8,AS7,Z,12.3,246
MERCEDES-BENZ,SLS AMG BLACK SERIES COUPE,TWO-SEATER,6.2,8,AS7,Z,18.7,380
MERCEDES-BENZ,SLS AMG GT COUPE,TWO-SEATER,6.2,8,AS7,Z,18.2,361
MERCEDES-BENZ,SLS AMG ROADSTER,TWO-SEATER,6.2,8,AS7,Z,18.2,361

In [59]:
# Filter rows/columns by start and end

In [60]:
df.filter(regex='^V.*VO$', axis=0)

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
VOLVO,S60,COMPACT,2.5,5,AS6,X,11.3,223
VOLVO,S60 AWD,COMPACT,2.5,5,AS6,X,11.6,232
VOLVO,S60 AWD,COMPACT,3.0,6,AS6,X,13.2,264
VOLVO,S80,MID-SIZE,3.2,6,AS6,X,11.9,235
VOLVO,S80 AWD,MID-SIZE,3.0,6,AS6,X,13.2,264
VOLVO,XC60,SUV - SMALL,3.2,6,AS6,X,13.0,258
VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

We can use the filter() function in many different ways. You can glance at this website: https://docs.python.org/3/library/re.html#regular-expression-syntax

# **Extract rows that contain specific strings**

## **Exact match with spesific string: `==`, `isin()`**

In [66]:
df[df.MODEL == 'ILX']

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,196
ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,221

In [67]:
df[df.VEHICLECLASS == 'COMPACT']

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,196
ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,221
ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,136
ACURA,TSX,COMPACT,2.4,4,AS5,Z,10.6,212
ACURA,TSX,COMPACT,2.4,4,M6,Z,11.2,225
...,...,...,...,...,...,...,...,...
VOLKSWAGEN,JETTA TDI CLEAN DIESEL,COMPACT,2.0,4,M6,D,7.9,186
VOLKSWAGEN,JETTA TURBO HYBRID,COMPACT,1.4,4,AM7,Z,5.6,124
VOLVO,S60,COMPACT,2.5,5,AS6,X,11.3,223
VOLVO,S60 AWD,COMPACT,2.5,5,AS6,X,11.6,232
VOLVO,S60 AWD,COMPACT,3.0,6,AS6,X,13.2,264

In [68]:
df[df.FUELTYPE.isin(['D', 'X'])]

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
AUDI,A6 QUATTRO TDI CLEAN DIESEL,MID-SIZE,3.0,6,AS8,D,9.8,224
AUDI,A7 QUATTRO TDI CLEAN DIESEL,MID-SIZE,3.0,6,AS8,D,9.8,224
AUDI,A8 TDI CLEAN DIESEL,MID-SIZE,3.0,6,AS8,D,10.0,227
AUDI,A8L TDI CLEAN DIESEL,FULL-SIZE,3.0,6,AS8,D,10.1,230
AUDI,Q5 TDI CLEAN DIESEL,SUV - SMALL,3.0,6,AS8,D,10.3,246
...,...,...,...,...,...,...,...,...
VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [69]:
df[df.VEHICLECLASS.isin(['MID-SIZE', 'SUV - SMALL'])]

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244
ACURA,RLX,MID-SIZE,3.5,6,AS6,Z,11.9,230
ACURA,TL,MID-SIZE,3.5,6,AS6,Z,11.8,232
ACURA,TL AWD,MID-SIZE,3.7,6,AS6,Z,12.8,255
...,...,...,...,...,...,...,...,...
VOLVO,XC60,SUV - SMALL,3.2,6,AS6,X,13.0,258
VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260

## **Partial match (Contains specific string): `str.contains()`**

In [70]:
df[df['MODEL'].str.contains('WD')]

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244
ACURA,TL AWD,MID-SIZE,3.7,6,AS6,Z,12.8,255
ACURA,TL AWD,MID-SIZE,3.7,6,M6,Z,13.4,267
BUICK,ENCLAVE AWD,SUV - STANDARD,3.6,6,A6,X,14.6,290
...,...,...,...,...,...,...,...,...
VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [72]:
df[df['VEHICLECLASS'].str.contains('SUV')]

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244
AUDI,Q5,SUV - SMALL,2.0,4,AS8,Z,12.0,239
AUDI,Q5,SUV - SMALL,3.0,6,AS8,Z,12.9,258
AUDI,Q5 HYBRID,SUV - SMALL,2.0,4,AS8,Z,9.9,212
...,...,...,...,...,...,...,...,...
VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [74]:
# Using the parameter 'na' as True, we could include the Null values. (default value of parameter na is False),
# We don't have any null values in our data frame, which we don't see any null values in the output.

df[df['VEHICLECLASS'].str.contains('SUV', na=True)]

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244
AUDI,Q5,SUV - SMALL,2.0,4,AS8,Z,12.0,239
AUDI,Q5,SUV - SMALL,3.0,6,AS8,Z,12.9,258
AUDI,Q5 HYBRID,SUV - SMALL,2.0,4,AS8,Z,9.9,212
...,...,...,...,...,...,...,...,...
VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

In [75]:
# By default, `str.contains()` distinguishes between uppercase and lowercase characters. To ignore case distinction, set the `case` argument to `False`.

df[df['VEHICLECLASS'].str.contains('SUV', case=False)]

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,255
ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244
AUDI,Q5,SUV - SMALL,2.0,4,AS8,Z,12.0,239
AUDI,Q5,SUV - SMALL,3.0,6,AS8,Z,12.9,258
AUDI,Q5 HYBRID,SUV - SMALL,2.0,4,AS8,Z,9.9,212
...,...,...,...,...,...,...,...,...
VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

## **Forward match (Starts with a specific string): `str.startswith()`**

In [80]:
df[df['MODEL'].str.startswith('XC')]

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
VOLVO,XC60,SUV - SMALL,3.2,6,AS6,X,13.0,258
VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,264
VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,271
VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,260
VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,294

## **Backward match (Ends with a specific string): `str.endswith()`**

In [83]:
df[df['MODEL'].str.endswith('4X4')]

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
FORD,F150 4X4,PICKUP TRUCK - STANDARD,3.5,6,A6,X,15.9,317
FORD,F150 4X4,PICKUP TRUCK - STANDARD,3.5,6,AS6,X,15.4,308
FORD,F150 4X4,PICKUP TRUCK - STANDARD,6.2,8,AS6,X,20.1,402
FORD,F150 FFV 4X4,PICKUP TRUCK - STANDARD,3.7,6,A6,X,15.0,308
FORD,F150 FFV 4X4,PICKUP TRUCK - STANDARD,3.7,6,A6,E,20.2,288
FORD,F150 FFV 4X4,PICKUP TRUCK - STANDARD,3.7,6,AS6,X,15.0,308
FORD,F150 FFV 4X4,PICKUP TRUCK - STANDARD,3.7,6,AS6,E,20.2,288
FORD,F150 FFV 4X4,PICKUP TRUCK - STANDARD,5.0,8,A6,X,16.8,343
FORD,F150 FFV 4X4,PICKUP TRUCK - STANDARD,5.0,8,A6,E,22.4,320
FORD,F150 FFV 4X4,PICKUP TRUCK - STANDARD,5.0,8,AS6,X,16.7,340
FORD,F150 FFV 4X4,PICKUP TRUCK - STANDARD,5.0,8,AS6,E,22.4,318
FORD,F150 RAPTOR 4X4,PICKUP TRUCK - STANDARD,6.2,8,AS6,X,20.4,414
JEEP,CHEROKEE 4X4,SUV - SMALL,2.4,4,A9,X,11.3,230
JEEP,CHEROKEE 4X4,SUV - SMALL,3.2,6,A9,X,12.5,248
JEEP,CHEROKEE TRAILHAWK 4X4,SUV - SMALL,2.4,4,A9,X,12.1,251
JEEP,CHEROKEE TRAILHAWK 4X4,SUV - SMALL,3.2,6,A9,X,13.4,267
JEEP,COMPASS 4X4,SUV - SMALL,2.4,4,A6,X,11.4,235
JEEP,COMPASS 4X4,SUV - SMALL,2.4,4,M5,X,10.3,216
JEEP,PATRIOT 4X4,SUV - SMALL,2.4,4,A6,X,11.4,235
JEEP,PATRIOT 4X4,SUV - SMALL,2.4,4,M5,X,10.3,216

## **String starts with a match of a regular expression: `str.match()`**

In [89]:
df[df['VEHICLECLASS'].str.match('^PICKUP')]

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
CHEVROLET,SILVERADO,PICKUP TRUCK - STANDARD,4.3,6,A6,X,13.4,271
CHEVROLET,SILVERADO,PICKUP TRUCK - STANDARD,4.3,6,A6,E,18.9,269
CHEVROLET,SILVERADO,PICKUP TRUCK - STANDARD,5.3,8,A6,X,14.6,292
CHEVROLET,SILVERADO,PICKUP TRUCK - STANDARD,5.3,8,A6,E,19.5,270
CHEVROLET,SILVERADO,PICKUP TRUCK - STANDARD,6.2,8,A6,Z,16.3,324
...,...,...,...,...,...,...,...,...
TOYOTA,TUNDRA,PICKUP TRUCK - STANDARD,4.0,6,AS5,X,14.8,310
TOYOTA,TUNDRA,PICKUP TRUCK - STANDARD,4.6,8,AS6,X,15.9,329
TOYOTA,TUNDRA,PICKUP TRUCK - STANDARD,5.7,8,AS6,X,17.6,356
TOYOTA,TUNDRA 4WD,PICKUP TRUCK - STANDARD,4.6,8,AS6,X,16.9,347
TOYOTA,TUNDRA 4WD,PICKUP TRUCK - STANDARD,5.7,8,AS6,X,18.1,373

In [88]:
df[df['VEHICLECLASS'].str.match('^PICKUP.*SMALL$')]

,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,CO2EMISSIONS
MAKE,,,,,,,,
NISSAN,FRONTIER,PICKUP TRUCK - SMALL,2.5,4,A5,X,13.7,283
NISSAN,FRONTIER,PICKUP TRUCK - SMALL,2.5,4,M5,X,12.2,260
NISSAN,FRONTIER,PICKUP TRUCK - SMALL,4.0,6,A5,X,14.7,292
NISSAN,FRONTIER 4WD,PICKUP TRUCK - SMALL,4.0,6,A5,X,15.7,315
NISSAN,FRONTIER 4WD,PICKUP TRUCK - SMALL,4.0,6,M6,X,14.8,301
TOYOTA,TACOMA,PICKUP TRUCK - SMALL,2.7,4,A4,X,12.2,251
TOYOTA,TACOMA,PICKUP TRUCK - SMALL,2.7,4,M5,X,11.3,235
TOYOTA,TACOMA,PICKUP TRUCK - SMALL,4.0,6,M6,X,14.5,301
TOYOTA,TACOMA 4WD,PICKUP TRUCK - SMALL,2.7,4,A4,X,13.1,274
TOYOTA,TACOMA 4WD,PICKUP TRUCK - SMALL,2.7,4,M5,X,12.8,271
TOYOTA,TACOMA 4WD,PICKUP TRUCK - SMALL,4.0,6,A5,X,14.7,306
TOYOTA,TACOMA 4WD,PICKUP TRUCK - SMALL,4.0,6,M6,X,15.3,322