## 0 - Import Libraries and Data

In [2]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('../C_Datasets/titanic_data_train.csv').iloc[:, -1:-4:-1]
df.head()

   Survived     Fare   Ticket
0         0   7.2500    21171
1         1  71.2833    17599
2         1   7.9250  3101282
3         1  53.1000   113803
4         0   8.0500   373450

## 1 - Standardization

ðŸ“Œ Scaling features to have a mean of 0 and a standard deviation of 1.

### 1.1 - Implementation in Pandas (Z-Score)

In [9]:
def z_score_function(DataFrame, column):
    return (DataFrame[column] - DataFrame[column].mean()) / DataFrame[column].std()

In [14]:
df_1 = df.copy()
df_1['Fare'] = z_score_function(df_1, 'Fare')
df_1['Ticket'] = z_score_function(df_1, 'Ticket')

In [15]:
df_1.head()

   Survived      Fare    Ticket
0         0 -0.502163 -0.422866
1         1  0.786404 -0.428255
2         1 -0.488580  4.224025
3         1  0.420494 -0.283114
4         0 -0.486064  0.108609

### 1.2 - Using scipy.stats() (Z-Score)

In [17]:
from scipy.stats import zscore

In [19]:
df_2 = df.copy()
df_2['Ticket'] = zscore(df_2['Ticket'])
df_2['Fare'] = zscore(df_2['Fare'])

In [20]:
df_2.head()

   Survived      Fare    Ticket
0         0 -0.502445 -0.423103
1         1  0.786845 -0.428495
2         1 -0.488854  4.226398
3         1  0.420730 -0.283273
4         0 -0.486337  0.108670

### 1.3 - Using sci-kit learn (StandardScaler)

In [21]:
from sklearn.preprocessing import StandardScaler

In [37]:
df_3 = df.copy()

In [22]:
scaler = StandardScaler()

In [39]:
df_3_scaled = scaler.fit_transform(df_3[['Fare', 'Ticket']])

In [41]:
df_3[['Fare', 'Ticket']] = pd.DataFrame(df_3_scaled, columns=['Fare', 'Ticket'])

In [43]:
df_3.head()

   Survived      Fare    Ticket
0         0 -0.502445 -0.423103
1         1  0.786845 -0.428495
2         1 -0.488854  4.226398
3         1  0.420730 -0.283273
4         0 -0.486337  0.108670

## 2 - Normalization

ðŸ“Œ Scaling features to a fixed range, usually between 0 and 1.

### 2.1 - Using  preprocessing.normalize()

In [44]:
from sklearn.preprocessing import normalize

In [48]:
df_4 = df.copy()

In [49]:
df_4_normalized = normalize(df_4[['Fare', 'Ticket']])

In [51]:
df_4[['Fare', 'Ticket']] = pd.DataFrame(df_4_normalized, columns=['Fare', 'Ticket'])

In [52]:
df_4.head()

   Survived      Fare    Ticket
0         0  0.000342  1.000000
1         1  0.004050  0.999992
2         1  0.000003  1.000000
3         1  0.000467  1.000000
4         0  0.000022  1.000000

### 2.2 - Using preprocessing.MinMaxScaler()

In [55]:
from sklearn.preprocessing import MinMaxScaler

In [56]:
scaler = MinMaxScaler()

In [59]:
df_5 = df.copy()
df_5_scaler = scaler.fit_transform(df_5[['Fare', 'Ticket']])

In [61]:
df_5[['Fare', 'Ticket']] = pd.DataFrame(df_5_scaler, columns=['Fare', 'Ticket'])

In [62]:
df_5.head()

   Survived      Fare    Ticket
0         0  0.014151  0.006825
1         1  0.139136  0.005674
2         1  0.015469  0.999989
3         1  0.103644  0.036694
4         0  0.015713  0.120416