#### Step 1

In [1]:
class Person:
    def __init__(self):
        print('Hello World!')

In [2]:
x = Person()

Hello World!

#### Step 2

In [3]:
class Person:
    def __init__(self):
        self.name = 'Mike'
        self.age = 28

In [5]:
person1 = Person()
print(person1.name)
print(person1.age)

Mike
28

#### Step 3

In [6]:
class Person:
    def __init__(self, name, age, height):
        self.name = name
        self.age = age
        self.height = height

In [7]:
person1 = Person('Mike', 30, 180)
print(person1.name)
print(person1.age)
print(person1.height)

Mike
30
180

In [8]:
person1.name = 'Henry'
print(person1.name)

Henry

#### Step 4

In [9]:
class Person:
    def __init__(self, name, age, height):
        self.name = name
        self.age = age
        self.height = height
    
    def __str__(self):
        return 'Name: {}, Age: {}, Height: {}'.format(self.name, self.age, self.height)

In [11]:
person1 = Person('Mike', 30, 180)
print(person1)

Name: Mike, Age: 30, Height: 180

In [12]:
print(person1.name)
print(person1.age)
print(person1.height)

Mike
30
180

#### Step 5

In [13]:
class Person:
    amount = 0
    def __init__(self, name, age, height):
        self.name = name
        self.age = age
        self.height = height
        Person.amount += 1
        
    def __del__(self):
        Person.amount -= 1
    
    def __str__(self):
        return 'Name: {}, Age: {}, Height: {}'.format(self.name, self.age, self.height)
    
    def get_older(years):
        self.age += years

In [19]:
person1 = Person('Mike', 30, 180)
print(person1)
print(Person.amount)

person2 = Person('Sarah', 50, 170)
print(person1)
print(Person.amount)

Name: Mike, Age: 30, Height: 180
1
Name: Mike, Age: 30, Height: 180
2

#### Step 6 ('inheritance')

In [20]:
class Person:
    def __init__(self, name, age, height):
        self.name = name
        self.age = age
        self.height = height
    
    def __str__(self):
        return 'Name: {}, Age: {}, Height: {}'.format(self.name, self.age, self.height)
    
    def get_older(years):
        self.age += years
        
class Worker(Person):
    def __init__(self, name, age, height, salary):
        super(Worker, self).__init__(name, age, height)
        self.salary = salary
        
    def calc_yearly_salary(self):
        return self.salary * 12

In [21]:
worker1 = Worker('Henry', 40, 176, 3000)
print(worker1)
print(worker1.calc_yearly_salary())

Name: Henry, Age: 40, Height: 176
36000

#### Step 7

In [25]:
class Person:
    def __init__(self, name, age, height):
        self.name = name
        self.age = age
        self.height = height
    
    def __str__(self):
        return 'Name: {}, Age: {}, Height: {}'.format(self.name, self.age, self.height)
    
    def get_older(years):
        self.age += years
        
class Worker(Person):
    def __init__(self, name, age, height, salary):
        super(Worker, self).__init__(name, age, height)
        self.salary = salary
    
    def __str__(self):
        text = super(Worker, self).__str__()
        text += ', Salary: {}'.format(self.salary)
        return text 
    
    def calc_yearly_salary(self):
        return self.salary * 12

In [26]:
worker1 = Worker('Henry', 40, 176, 3000)
print(worker1)

Name: Henry, Age: 40, Height: 176, Salary: 3000

#### Step 8 ('Operator Overloading')

In [27]:
class Vector:
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)
    
    def __sub__(self, other):
        return Vector(self.x - other.x, self.y - other.y)
    
    def __str__(self):
        return 'X: {}, Y: {}'.format(self.x, self.y)

In [29]:
v1 = Vector(2, 5)
v2 = Vector(6, 3)

print('v1: ', v1)
print('v2: ', v2)

v3 = v1 + v2

print('v3: ', v3)

v4 = v1 - v2

print('v4: ', v4)

v1:  X: 2, Y: 5
v2:  X: 6, Y: 3
v3:  X: 8, Y: 8
v4:  X: -4, Y: 2